.value-preview-box {
  text-align: center;
  padding-bottom: 30rpx;
  margin: 20rpx;
  border-radius: 10rpx;
  border-top: 1rpx solid #ddd;
  border-bottom: 1rpx solid #ddd;
  box-shadow: 0 0 50rpx #bbb;
}

.value-preview-box > .measure-preview {
  color: rgb(255, 107, 132);
  font-size: 6rem;
}

.measure-preview > .measure-unit {
  color: #666;
  font-size: 1rem;
}

.value-preview-box > .measure-description {
  font-size: 1rem;
}

.measure-description > .day {
  color: #ffd700;
  font-size: 1.5rem;
}
