.value-preview-box {
  text-align: center;
  padding: 30rpx 0;
  margin: 20rpx;
  border-radius: 10rpx;
  border-top: 1rpx solid #ddd;
  border-bottom: 1rpx solid #ddd;
  box-shadow: 0 0 50rpx #bbb;
}

.value-preview-box > .measure-title {
  border-bottom: 1px solid #ddd;
  text-align: left;
  color: #666;
  font-size: 0.8rem;
  padding: 10rpx 20rpx ;
}

.value-preview-box > .measure-preview {
  color: rgb(255, 107, 132);
  font-size: 6rem;
}

.measure-preview > .measure-unit {
  color: #666;
  font-size: 1rem;
}

.value-preview-box > .measure-description {
  font-size: 1rem;
}

.measure-description > .day {
  color: #ffd700;
  font-size: 1.5rem;
}

.measure-triple-preview > .row {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  border-bottom: 1px solid #ddd;
}

.measure-triple-preview > .row:first-child {
  display: flex;
  justify-content: space-between;
  color: #666;
  font-size: 0.8rem;
  padding: 10rpx 20rpx;
}

.value-num {
  color: rgb(255, 107, 132);
  font-size: 3rem;
}
.measure-unit {
  color: #666;
}

.day {
  color: #ffd700;
  font-size: 1.5rem;
}
