.picker {
  margin-top: 10rpx;
  border-top: 1rpx solid #ddd;
  border-bottom: 1rpx solid #ddd;
  padding: 20rpx 80rpx;
  font-weight: 700;

  display: flex;
  justify-content: space-between;
}

.picker > .picker-value {
  color: #666;
  font-weight: 500;
}

.line-box {
  padding: 0 20rpx;
  box-sizing: border-box;
}

.line-title {
  font-size: 1.2rem;
  border-left: 5rpx solid #6190e8;
  padding-left: 20rpx;
  margin-top: 10rpx;
}