.analysis-box {
  padding: 0 20rpx;
  box-sizing: border-box;
}

.analysis-title {
  font-size: 1.2rem;
  border-left: 5rpx solid #E93B3D;
  padding-left: 20rpx;
  margin-top: 10rpx;
}

.analysis-describe {
  display: flex;
  flex-wrap: wrap;
}

.analysis-describe > .analysis-describe-item {
  width: 50%;
  border-bottom: 1rpx solid #ddd;
  padding: 20rpx 0;
  box-sizing: border-box;
  font-size: 0.8rem;
}

.blue-num {
  font-size: 1.2rem;
  color: #E93B3D;
  margin: 0 10rpx;
}

.red-num {
  font-size: 1.2rem;
  color: rgb(255, 107, 132);
  margin: 0 10rpx;
}

.green-num {
  font-size: 1.2rem;
  color: rgb(147, 206, 84);
  margin: 0 10rpx;
}

.tag {
  margin-left: 10rpx;
}
