.recommed-box {
  background: rgb(238, 238, 238);
}
.recommed-top-box {
  margin-bottom: 20rpx;
  padding-top: 20rpx;
  background: #fff;
}

.swiper {
  height: 400rpx;
}

.img {
  width: 100%;
  height: 400rpx;
}

.recommend-title {
  color: #333;
  padding-left: 20rpx;
  margin-bottom: 20rpx;
  font-size: 0.9rem;
  display: flex;
  align-items: flex-end;
}

.recommend-title-text {
  margin-left: 10rpx;
}

.recommend-list-box {
  padding: 0 20rpx;
  background: #fff;
}

.recommend-item-box {
  border-bottom: 1px solid #ddd;
  padding: 20rpx 0;
  display: flex;
  justify-content: space-between;
}

.recommend-item-right-img {
  width: 250rpx;
  height: 150rpx;
}

.recommend-item-left-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recommend-item-title {
  font-size: 0.9rem;
}

.recommend-item-describe {
  font-size: 0.5rem;
  color: #999;
}

.read-num {
  margin-left: 20rpx;
}
